# Foundations of Computer Science

Members of the Group : 
- Bahareh Robaty Shirzad (Student ID: 946887)
- Samira Doshmankosh  (Student ID: 
- Setayesh Mohammadi Banadkooki (Student ID:

We have to work on the [Trending YouTube](https://drive.google.com/file/d/1VuI1NnPzYlhHIMBy-2nBegFoQTATbf8K/view?usp=sharing) dataset.

### Notes
1. It is mandatory to use GitHub for developing the project.
2. The project must be a jupyter notebook.
3. There is no restriction on the libraries that can be used, nor on the Python version.
4. All questions on the project must be asked in the Discussion forum on the course website.
5. At most 3 students can be in each group. You must create the groups by yourself. You can use the Discussion forum to create the groups.
6. You do not have to send me the project before the discussion.
7. You do not have to prepare any slides for the discussion.
8. You can use AI tools, but you have to describe in the notebook how you have used such tools and you have to show that you have fully understood everything that you have in your project.

In [37]:
import pandas as pd
import numpy as np

## Question 1 : Create a single dataframe with the concatenation of all input csv files, adding a column called country

In [38]:
#since in python synatx \U means unicodeescape, by prefixing the string with an r behind the path, we will specify that-
#-this is a raw string 
CAvideos_path = r"C:\Users\broba\Python-Project\trendingYT\CAvideos.csv.zst"
DEvideos_path = r"C:\Users\broba\Python-Project\trendingYT\DEvideos.csv.zst"
FRvideos_path = r"C:\Users\broba\Python-Project\trendingYT\FRvideos.csv.zst"
GBvideos_path = r"C:\Users\broba\Python-Project\trendingYT\GBvideos.csv.zst"
INvideos_path = r"C:\Users\broba\Python-Project\trendingYT\INvideos.csv.zst"
JPvideos_path = r"C:\Users\broba\Python-Project\trendingYT\JPvideos.csv.zst"
KRvideos_path = r"C:\Users\broba\Python-Project\trendingYT\KRvideos.csv.zst"
MXvideos_path = r"C:\Users\broba\Python-Project\trendingYT\MXvideos.csv.zst"
RUvideos_path = r"C:\Users\broba\Python-Project\trendingYT\RUvideos.csv.zst"
USvideos_path = r"C:\Users\broba\Python-Project\trendingYT\USvideos.csv.zst"

In [52]:
df1 = pd.read_csv(CAvideos_path)
df2 = pd.read_csv(DEvideos_path)
df3 = pd.read_csv(FRvideos_path)
df4 = pd.read_csv(GBvideos_path)
df5 = pd.read_csv(INvideos_path)
df6 = pd.read_csv(JPvideos_path, encoding='utf-8', encoding_errors = "replace")
df7 = pd.read_csv(KRvideos_path, encoding='utf-8', encoding_errors = "replace")
df8 = pd.read_csv(MXvideos_path, encoding='utf-8', encoding_errors = "replace")
df9 = pd.read_csv(RUvideos_path, encoding='utf-8', encoding_errors = "replace")
df10 = pd.read_csv(USvideos_path)

In [53]:
df1['country'] = 'Canada'
df2['country'] = 'Germany'
df3['country'] = 'France'
df4['country'] = 'United Kingdom'
df5['country'] = 'India'
df6['country'] = 'Japan'
df7['country'] = 'South Korea'
df8['country'] = 'Mexico'
df9['country'] = 'Russia'
df10['country'] = 'United States'

In [54]:
final_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10], ignore_index=True)

In [55]:
final_df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyonc√©,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyonc√© i...,Canada
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...,Canada
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146035,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ‚ñ∂ \n\nSUBSCRIBE ‚ñ∫ http...,Canada
3,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095828,132239,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...,Canada
4,2Vv-BfVoq4g,17.14.11,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09T11:04:14.000Z,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622,1634130,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,üéß: https://ad.gt/yt-perfect\nüí∞: https://atlant...,Canada

In [ ]:
final_df.to_csv('final_df.csv', index=False)

In [56]:
print(final_df.dtypes)

video_id                  object
trending_date             object
title                     object
channel_title             object
category_id                int64
publish_time              object
tags                      object
views                      int64
likes                      int64
dislikes                   int64
comment_count              int64
thumbnail_link            object
comments_disabled           bool
ratings_disabled            bool
video_error_or_removed      bool
description               object
country                   object
dtype: object

## Question 2 : Extract all videos that have no tag.

In [ ]:
# Method: Using a lambda function to filter videos where the 'tags' column is '[none]'
videos_with_no_tag = final_df[final_df['tags'].apply(lambda x: x == '[none]')]

# Displaying the result
videos_with_no_tag.head()

## Question 3: For each channel, determine the total number of views

In [ ]:
channels = list(set(final_df['channel_title']))
channels

In [ ]:
views = final_df.groupby('channel_title')['views'].sum()
views.head()

## 4. Save all rows with disabled comments and disabled ratings, or that have video_error_or_removed in a new dataframe called excluded, and remove those rows from the original dataframe.

In [ ]:
exclusion_condition = (
    (final_df['comments_disabled'] == True) &  
    (final_df['ratings_disabled'] == True)     
) | (final_df['video_error_or_removed'] == True)

In [ ]:
excluded = final_df[exclusion_condition].copy()

In [ ]:
rows_to_remove = excluded.index

In [ ]:
final_df = final_df.drop(rows_to_remove, axis=0)

In [ ]:
final_df.head()

In [ ]:
print(f"Rows in 'excluded' DataFrame: {len(excluded)}")

In [ ]:
print(f"Original Row Count (before exclusion): {len(excluded) + len(final_df)}")

In [ ]:
print(f"Rows remaining in 'final_df': {len(final_df)}")

## 5. Add a like_ratio column storing the ratio between the number of likes and dislikes

In [62]:
#For videos with zero dislikes, the ratio is undefined and therefore set to NaN.
final_df['like_ratio'] = final_df.apply(
    lambda r: r['likes'] / r['dislikes']
    if pd.notna(r['dislikes']) and r['dislikes'] > 0
    else np.nan,
    axis=1
)

final_df['no_dislikes'] = final_df['dislikes'].isna() | (final_df['dislikes'] == 0)

In [63]:
final_df[['likes', 'dislikes', 'like_ratio', 'no_dislikes']].head()

     likes  dislikes  like_ratio  no_dislikes
0   787425     43420   18.135076        False
1   127794      1688   75.707346        False
2   146035      5339   27.352500        False
3   132239      1989   66.485168        False
4  1634130     21082   77.513044        False

In [64]:
final_df[final_df['no_dislikes'] == True][
    ['likes', 'dislikes', 'like_ratio']
].head()

     likes  dislikes  like_ratio
67       0         0         NaN
161    187         0         NaN
173      0         0         NaN
235     88         0         NaN
271      1         0         NaN

In [65]:
final_df.to_csv(
    r"C:\Users\broba\Python-Project\outputs\final_df.csv",
    index=False,
    encoding="utf-8-sig"
)

## 6. Cluster the publish time into 10-minute intervals (e.g. from 02:20 to 02:30)

In [57]:
# Convert the column to datetime objects
final_df['publish_time'] = pd.to_datetime(final_df['publish_time'])

# remove the timezone (I checked it in the file, it was the same in all countries)
final_df['publish_time'] = final_df['publish_time'].dt.tz_localize(None)

# round down to the nearest 10 minutes. Example: 02:23:00 becomes 02:20:00
interval_start = final_df['publish_time'].dt.floor('10min')

# create "Start-End" string format
# adds 10 minutes to the start time to get the end time
final_df['interval_10min'] = (
    interval_start.dt.strftime('%H:%M') + "-" + 
    (interval_start + pd.Timedelta(minutes=10)).dt.strftime('%H:%M')
)

print(final_df[['publish_time', 'interval_10min']].head())

         publish_time interval_10min
0 2017-11-10 17:00:03    17:00-17:10
1 2017-11-13 17:00:00    17:00-17:10
2 2017-11-12 19:05:24    19:00-19:10
3 2017-11-12 18:01:41    18:00-18:10
4 2017-11-09 11:04:14    11:00-11:10

## 7. For each interval, determine the number of videos, average number of likes and of dislikes.

In [58]:
interval_stats = final_df.groupby('interval_10min').agg(
    num_videos=('video_id', 'count'),
    avg_likes=('likes', 'mean'),
    avg_dislikes=('dislikes', 'mean')
).reset_index() #to reset 'interval_10min' from being index (was converted by groupby) into a flat table
print(interval_stats.head())

  interval_10min  num_videos     avg_likes  avg_dislikes
0    00:00-00:10        2913  60951.483350   3787.232750
1    00:10-00:20        1522  22553.870565   1437.457293
2    00:20-00:30        1248  21258.370192   1066.330128
3    00:30-00:40        1625  36604.352000    949.439385
4    00:40-00:50        1283  41770.614186   1889.012471

## 8. For each tag, determine the number of videos. Notice that tags contains a string with several tags.

In [59]:
# splits and explodes tags
tags_series = final_df['tags'].str.split('|').explode()

#deleting none tags
tags_series = tags_series.replace('', None).dropna()

#remove spaces/quotation and lowercase the strings
tags_series = tags_series.str.strip().str.strip('"').str.lower()

#number of videos for each tag
tag_counts = tags_series.value_counts(sort=False)
print("\n first 20 tags with the number of videos they repeated in:\n")
print(tag_counts.head(20))

 first 20 tags with the number of videos they repeated in:

tags
eminem                         675
walk                           227
on                             496
water                          573
aftermath/shady/interscope     127
rap                           5476
plush                           19
bad unboxing                    20
unboxing                      1385
fan mail                        39
idubbbztv                       42
idubbbztv2                      33
things                         112
best                          2520
packages                        13
plushies                        22
chontent chop                    9
racist superman                122
rudy                           261
mancuso                        210
Name: count, dtype: int64

## 9. Find the tags with the largest number of videos.

In [60]:
# first I decided to delete [none] tag
tags_series_new = tags_series.replace('[none]', None).dropna()

# Then to sort the tags
tag_counts_sorted = tags_series_new.value_counts()

print(tag_counts_sorted.head())

tags
funny     17344
comedy    15701
2018      11402
news       9199
music      8262
Name: count, dtype: int64

## 10. For each (tag, country) pair, compute average ratio likes/dislikes.

In [66]:
df_pairs = final_df[['tags', 'country', 'like_ratio']].copy()

df_pairs['tags'] = df_pairs['tags'].str.split('|')
df_pairs = df_pairs.explode('tags')

# clean & split tags
df_pairs['tags'] = df_pairs['tags'].str.strip().str.strip('"').str.lower()


# remove empty, [none], nan tags
df_pairs = df_pairs.dropna(subset=['tags']) #remove real Nulls (NaN/None)
df_pairs = df_pairs[df_pairs['tags'] != ''] #remove empty strings ('')
df_pairs = df_pairs[df_pairs['tags'] != '[none]'] #remove the "[none]" tags

# calculating the average of like_ratio For each (tag, country) pair 
result = df_pairs.groupby(['tags', 'country'])['like_ratio'].mean().reset_index()

#to make columns by their names to have a clear output
result.columns = ['tag', 'country', 'average_ratio']

print(result.head(20))

                                                  tag      country  \
0                           ! banii i-au luat mintile      Germany
1                                                  !!       France
2                                                  !!       Mexico
3                                     !! *me bloquea*       Mexico
4                                                 !!!       Mexico
5                                                !!!!       France
6                             !00% sketch comedy show       Russia
7                                             !t live  South Korea
8                                   # carlosvideostar       Mexico
9   # einen sch√∂nen tag w√ºnschen# einen sch√∂nen so...      Germany
10                                    # ssc scam 2018        India
11                            # ssc scam protest 2018        India
12                                          # „Ç≥„É™„Ç¢„É≥„Çø„Ç¶„É≥        Japan
13                                          ##cutting       Russia
14                                        ##free view       Russia
15                                 ##jessi##cantora##       Russia
16                                                 #0       Mexico
17                                                #02       France
18                                                #03      Germany
19                                               #044       Mexico

    average_ratio
0        6.222739
1       12.452875
2       38.081559
3       65.260870
4       12.952381
5        5.000000
6             NaN
7      912.398601
8       60.160000
9             NaN
10      35.552176
11      35.552176
12       8.393258
13      56.714286
14            NaN
15       5.900000
16      69.747005
17      71.863309
18      98.460835
19      88.750000

## 11. For each (trending_date, country) pair, the video with the largest number of views

In [69]:
q11_result= final_df.loc[ final_df.groupby( ['trending_date' , 'country'])['views'].idxmax()] 
q11_result= q11_result.sort_values(by='views',ascending= False) 

print( "top videos per date and country:")
display(q11_result[['trending_date', 'country', 'title', 'views']].head())

top videos per date and country:

,trending_date,country,title,views
150857,18.07.04,United Kingdom,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,424538912
150657,18.06.04,United Kingdom,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,413586699
150453,18.05.04,United Kingdom,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,402650804
150256,18.04.04,United Kingdom,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,392036878
150060,18.03.04,United Kingdom,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,382401497

## 12. Divide trending_date into three columns: year, month, day

In [72]:
final_df[ 'trending_date'] = pd.to_datetime( final_df['trending_date'] , format='%y.%d.%m')

final_df['year'] = final_df['trending_date'].dt.year
final_df['month'] = final_df['trending_date'].dt.month
final_df['day'] = final_df['trending_date'].dt.day

print( "columns created successfully!")
display(final_df[['trending_date', 'year', 'month', 'day']].head())

columns created successfully!

  trending_date  year  month  day
0    2017-11-14  2017     11   14
1    2017-11-14  2017     11   14
2    2017-11-14  2017     11   14
3    2017-11-14  2017     11   14
4    2017-11-14  2017     11   14

## 13. For each (month, country) pair, the video with the largest number of views

In [74]:
#we group by 'month' and 'country' ( created in q12 ), find the index of max views, and select those rows

q13_result= final_df.loc[ final_df.groupby( [ 'month','country']) ['views'].idxmax()] 
#sort the result by month to make it easier to read
q13_result= q13_result.sort_values(by=['month'])

print("top videos per month and country:")
display(q13_result[['month','country','title', 'views']])

top videos per month and country:

,month,country,title,views
11214,1,Canada,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,43067983
92853,1,France,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,37728802
51930,1,Germany,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,37728802
173405,1,India,"Taylor Swift - End Game ft. Ed Sheeran, Future",42019590
264769,1,Mexico,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,31680160
...,...,...,...,...
259064,12,Mexico,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,100912384
299087,12,Russia,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,52611730
224092,12,South Korea,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,113876217
130634,12,United Kingdom,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,169884583
341174,12,United States,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,149376127

## 14. Read all json files with the video categories

In [78]:
import json
import os

folder_path = r"C:\Users\broba\Python-Project\trendingYT" 
category_data = {}

try:
    all_files = os.listdir(folder_path)
    for filename in all_files:
        if filename.endswith('_category_id.json'):
            country_code = filename.split('_')[0]
            full_path = os.path.join(folder_path, filename)
            
            with open(full_path, 'r', encoding='utf-8') as f:
                data = json.load(f)
                valid_ids = [int(item['id']) for item in data['items']]
                category_data[country_code] = valid_ids
                print(f"‚úÖ Loaded: {country_code}")
except FileNotFoundError:
    print(f"‚ùå Error: Folder not found at {folder_path}")

‚úÖ Loaded: CA
‚úÖ Loaded: DE
‚úÖ Loaded: FR
‚úÖ Loaded: GB
‚úÖ Loaded: IN
‚úÖ Loaded: JP
‚úÖ Loaded: KR
‚úÖ Loaded: MX
‚úÖ Loaded: RU
‚úÖ Loaded: US

## 15. For each country, determine how many videos have a category that is not assignable.

In [79]:
# --- STRATEGY EXPLANATION ---
# The CSV file uses full country names (e.g., 'France'), while JSON filenames use 2-letter codes (e.g., 'FR').
# 1. The dataset contains non-standard names (e.g., 'Great Britain' vs. ISO standard 'United Kingdom') which causes errors in automated libraries.
# 2. Since the scope is limited to only 10 countries, a manual dictionary ensures 100% accuracy without adding external dependencies.

country_mapper = {
    'United States' : 'US',
    'United Kingdom' : 'GB' ,
    'Germany' : 'DE',
    'Canada' : 'CA',
    'France' : 'FR',
    'Russia' : 'RU',
    'Mexico' : 'MX',
    'South Korea': 'KR',
    'Japan' : 'JP',
    'India' : 'IN'
}

print(f"{'country':<20} | {'Bad Categories Count'}") 
print("_" * 45) 

for country_name in final_df['country'].unique():
    country_code = country_mapper.get(country_name)

    if country_code and country_code in category_data:
        valid_ids = category_data[country_code]
        country_df = final_df[final_df['country'] == country_name]
        
        bad_videos = country_df[~country_df['category_id'].isin(valid_ids)]
        print(f"{country_name:<20} | {len(bad_videos)}")
    else:
        print(f"{country_name:<20} | Data not found (Code: {country_code})")

country              | Bad Categories Count
_____________________________________________
Canada               | 74
Germany              | 256
France               | 114
United Kingdom       | 90
India                | 105
Japan                | 18
South Korea          | 288
Mexico               | 252
Russia               | 1541
United States        | 0